body {
    margin: 0;
    overflow: hidden;
 }
 
 #follow {
     z-index: 10;
   width: 120px;
   height: 120px;
   position: fixed;
   border-radius: 50%;
   border: 3px solid #fff;
   opacity: 0.6;
    transition: 1.8s ease-out;
       pointer-events: none;
 }
 
 @import url('https://fonts.googleapis.com/css?family=Meddon');
 
 
 .ctn-text    {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
        position: fixed;
       z-index: 1;
    
    
 }
 
 .ctn-text .efet-text {
       font-family: 'Meddon', cursive;
       position: fixed;
       z-index: 1;
       color: #fff;
       font-size: 140px;
       cursor: pointer;
       margin-top: -8vh;
    }