/* font */
@font-face {
    font-family: thai-cloud;
    src: url("font/Cloud-Light.otf");
}
@font-face {
    font-family: thai-quark;
    src: url("font/Quark-Light.otf");
}
@font-face {
    font-family: thai-sukhum;
    src: url("font/sukhumvitset-thin-webfont.ttf");
}
@font-face {
    font-family: thai-sukhumbold;
    src: url("font/sukhumvitset-medium-webfont.ttf");
}
@font-face {
    font-family: eng-paulslab;
    src: url("font/PaulSlab-Regular-Trail.otf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: #96aa97;
    background-image: url(pic/bg5.jpg); /* 5 กับ 8 ok*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: thai-sukhum;
    /* font-size: 24px; */
}

header {
    max-width: 100%;
    height: 50vh;
    background-image: url(pic/headerv11.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: thai-sukhumbold;
    font-size: 54px;
}

.container {
    max-width: 85%;
    margin: 0px auto;
    /* background: #96aa97; */
    backface-visibility: hidden;
}

.clearfix {
    clear: both;
}

.left-nav {
    width: 25%;
    height: 100%;
    background: white;
    padding: 15px;
    margin-right: 30px;
    margin-top: 30px;
    float: left;
}


a {
    color:inherit;
    text-decoration: none;
 }

a:hover {
    color: rgb(79, 189, 79);
}

ul { 
    list-style:none;
}
li {
    list-style:none;
    padding-left: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.data {
    width: 65%;
    height: 100%;
    background: white;
    margin-top: 30px;
    /*margin-left: 15px;*/
    /*margin-right:0px;*/
    padding: 25px;
    float: left;
}

p.subject {
    font-size: 20px;
}

.colorsj {
    color:#50a354;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 80%;
    height: 50%;
}
.img2{
    width: 60%;
}

.img3{
    width: 35%;
}

.img4{
    width: 50%;
}

footer {
    margin-top: 30px;
    max-width: 100%;
    height: 140px;
    background: #252525;
}

.contact {
    color: white !important;
    width: 100% !important;
}

.icon-group{
    height: 70px; 
    padding: 20px 15px 0 0;
}

.introduce p{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}